.header {
    display: flex;
    justify-content: space-between;
    font-family: arial,sans-serif;
    font-size: 13px;
    margin-top: 17px;
}
.left-buttons {
    display: flex;
    margin-left: 2px;
    align-items: center;

}

.right-buttons {
    display: flex;
    align-items: center;
}

.header-button{
    text-decoration: none;
    padding-left: 10px;
}

.header-icon {
    margin-left: 10px;
}

.header-button:hover {
    text-decoration: underline;
}

#app-icon {
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-position: -132px -38px;
    background-position-x: -132px;
    background-position-y: -38px;
    background-size: 528px 68px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 30px;
    line-height: normal;
    opacity: 0.55;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    text-align: left;
    text-decoration: rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    vertical-align: middle;
    white-space: nowrap;
    width: 30px
}
#app-icon:hover {
    opacity: 85%;
}

#initial-icon {
    padding-left: 0%;
border-radius: 50%;
margin-right: 15px;

}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.search-bar {
    display: flex;
    width: 500px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-top: 50px;
    justify-content: center;
}

#inputer {
    border-style: none;
}

.under-bar-buttons {
    width: 500px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.footer {
    background-color:rgb(242, 242, 242);
    height : 5vh;
    position : fixed;
    top : 95vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: arial, sans-serif;
    font-size: 14px;
}

.footer-button{
    text-decoration: none;
    padding-left: 10px;
}
.footer-button:hover {
    text-decoration: underline;
}

.left-footer-buttons {
    display: flex;
    margin-left: 10px;

}

.right-footer-buttons {
    display: flex;
    padding-left: 10px;
    margin-right: 25px;
}

